# https://vercel.com/integrations/planetscale
DATABASE_URL='mysql://aiobzc5v24ksh1ybnu7t:pscale_pw_rv2eroqDvZL4hREEWeBYdD3d10PJu3Eb9PQBNbPKq5t@aws.connect.psdb.cloud/nextjs-admin?ssl={"rejectUnauthorized":true}'

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

# https://next-auth.js.org/providers/github
GITHUB_ID=
GITHUB_SECRET=
